.friendList {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  padding: 20px 30px;
  width: 200px;
  background-color: white;
  box-shadow: 0px 3px 13px -7px rgba(66, 68, 90, 1);
  border-radius: 15px;
  gap: 25px;
}

.false {
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.true {
  background-color: green;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
}